Deployment/Schemas/System.Security.Permissions.xsd

<?xml version="1.0"?>
<xs:schema xmlns:u="http://www.siemens.com/med/ubta.Schema" xmlns:t="http://www.siemens.com/med/System.Security.Permissions" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siemens.com/med/System.Security.Permissions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ubta.Schema.xsd" namespace="http://www.siemens.com/med/ubta.Schema" />
  <xs:element name="System.Security.Permissions.TypeDescriptorPermissionFlags" type="t:System.Security.Permissions.TypeDescriptorPermissionFlags" />
  <xs:simpleType name="System.Security.Permissions.TypeDescriptorPermissionFlags">
    <xs:restriction base="u:System.String" />
  </xs:simpleType>
  <xs:element name="System.Security.Permissions.StorePermission" type="t:System.Security.Permissions.StorePermission" />
  <xs:complexType name="System.Security.Permissions.StorePermission">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="set_Flags">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Permissions.StorePermissionFlags" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="t:System.Security.Permissions.StorePermissionFlags" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="state_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.Permissions.PermissionState" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="flag_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.Permissions.StorePermissionFlags" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="t:System.Security.Permissions.StorePermissionFlags" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Flags">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Flags_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Permissions.StorePermissionFlags" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Security.Permissions.ResourcePermissionBase" type="t:System.Security.Permissions.ResourcePermissionBase" />
  <xs:complexType name="System.Security.Permissions.ResourcePermissionBase">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Any" type="u:System.String" />
      <xs:element name="Local" type="u:System.String" />
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Security.Permissions.StorePermissionAttribute" type="t:System.Security.Permissions.StorePermissionAttribute" />
  <xs:complexType name="System.Security.Permissions.StorePermissionAttribute">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="action">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Permissions.SecurityAction" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_CreateStore">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_EnumerateStores">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_DeleteStore">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Flags">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Flags_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Permissions.StorePermissionFlags" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_DeleteStore">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_DeleteStore_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_Flags">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Permissions.StorePermissionFlags" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="t:System.Security.Permissions.StorePermissionFlags" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_RemoveFromStore">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_AddToStore">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_OpenStore">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_EnumerateStores">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_EnumerateStores_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_RemoveFromStore">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_RemoveFromStore_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_EnumerateCertificates">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_OpenStore">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_OpenStore_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_CreateStore">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_CreateStore_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_AddToStore">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_AddToStore_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_EnumerateCertificates">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_EnumerateCertificates_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Security.Permissions.ResourcePermissionBaseEntry" type="t:System.Security.Permissions.ResourcePermissionBaseEntry" />
  <xs:complexType name="System.Security.Permissions.ResourcePermissionBaseEntry">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_PermissionAccess">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_PermissionAccess_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="permissionAccess_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="permissionAccessPath_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_PermissionAccessPath">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_PermissionAccessPath_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.String[]" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Security.Permissions.StorePermissionFlags" type="t:System.Security.Permissions.StorePermissionFlags" />
  <xs:simpleType name="System.Security.Permissions.StorePermissionFlags">
    <xs:restriction base="u:System.String" />
  </xs:simpleType>
  <xs:element name="System.Security.Permissions.TypeDescriptorPermissionAttribute" type="t:System.Security.Permissions.TypeDescriptorPermissionAttribute" />
  <xs:complexType name="System.Security.Permissions.TypeDescriptorPermissionAttribute">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="set_Flags">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Permissions.TypeDescriptorPermissionFlags" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="t:System.Security.Permissions.TypeDescriptorPermissionFlags" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_RestrictedRegistrationAccess">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_RestrictedRegistrationAccess">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_RestrictedRegistrationAccess_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="action">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Permissions.SecurityAction" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Flags">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Flags_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Permissions.TypeDescriptorPermissionFlags" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Security.Permissions.TypeDescriptorPermission" type="t:System.Security.Permissions.TypeDescriptorPermission" />
  <xs:complexType name="System.Security.Permissions.TypeDescriptorPermission">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="set_Flags">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Permissions.TypeDescriptorPermissionFlags" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="t:System.Security.Permissions.TypeDescriptorPermissionFlags" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="state_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.Permissions.PermissionState" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="flag_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.Permissions.TypeDescriptorPermissionFlags" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="t:System.Security.Permissions.TypeDescriptorPermissionFlags" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Flags">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Flags_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Permissions.TypeDescriptorPermissionFlags" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
</xs:schema>