Deployment/Schemas/System.Security.Authentication.ExtendedProtection.Configuration.xsd

<?xml version="1.0"?>
<xs:schema xmlns:u="http://www.siemens.com/med/ubta.Schema" xmlns:t="http://www.siemens.com/med/System.Security.Authentication.ExtendedProtection.Configuration" xmlns:q9="http://www.siemens.com/med/System.Security.Authentication.ExtendedProtection" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siemens.com/med/System.Security.Authentication.ExtendedProtection.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="System.Security.Authentication.ExtendedProtection.xsd" namespace="http://www.siemens.com/med/System.Security.Authentication.ExtendedProtection" />
  <xs:import schemaLocation="System.Security.Authentication.ExtendedProtection.xsd" namespace="http://www.siemens.com/med/System.Security.Authentication.ExtendedProtection" />
  <xs:import schemaLocation="System.Security.Authentication.ExtendedProtection.xsd" namespace="http://www.siemens.com/med/System.Security.Authentication.ExtendedProtection" />
  <xs:import schemaLocation="System.Security.Authentication.ExtendedProtection.xsd" namespace="http://www.siemens.com/med/System.Security.Authentication.ExtendedProtection" />
  <xs:import schemaLocation="System.Security.Authentication.ExtendedProtection.xsd" namespace="http://www.siemens.com/med/System.Security.Authentication.ExtendedProtection" />
  <xs:import schemaLocation="ubta.Schema.xsd" namespace="http://www.siemens.com/med/ubta.Schema" />
  <xs:element name="System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElement" type="t:System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElement" />
  <xs:complexType name="System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElement">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Constructor">
        <xs:complexType />
      </xs:element>
      <xs:element name="get_Name">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Name_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_Name">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Security.Authentication.ExtendedProtection.Configuration.ExtendedProtectionPolicyElement" type="t:System.Security.Authentication.ExtendedProtection.Configuration.ExtendedProtectionPolicyElement" />
  <xs:complexType name="System.Security.Authentication.ExtendedProtection.Configuration.ExtendedProtectionPolicyElement">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="set_PolicyEnforcement">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Authentication.ExtendedProtection.PolicyEnforcement" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="q9:System.Security.Authentication.ExtendedProtection.PolicyEnforcement" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_CustomServiceNames">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_CustomServiceNames_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElementCollection" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType />
      </xs:element>
      <xs:element name="set_ProtectionScenario">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Authentication.ExtendedProtection.ProtectionScenario" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="q9:System.Security.Authentication.ExtendedProtection.ProtectionScenario" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BuildPolicy">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="BuildPolicy_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Authentication.ExtendedProtection.ExtendedProtectionPolicy" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_ProtectionScenario">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_ProtectionScenario_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Authentication.ExtendedProtection.ProtectionScenario" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_PolicyEnforcement">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_PolicyEnforcement_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Authentication.ExtendedProtection.PolicyEnforcement" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:annotation>
    <xs:appinfo>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\system.dll</xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:appinfo>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\system.dll</xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:appinfo>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\system.dll</xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:appinfo>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\system.dll</xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:appinfo>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\system.dll</xs:appinfo>
  </xs:annotation>
  <xs:element name="System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElementCollection" type="t:System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElementCollection" />
  <xs:complexType name="System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElementCollection">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Clear">
        <xs:complexType />
      </xs:element>
      <xs:element name="IndexOf">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="element">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElement" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="IndexOf_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Add">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="element">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElement" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveAt">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="index">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Remove">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="element_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElement" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="name_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType />
      </xs:element>
      <xs:element name="get_Item">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="index_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="get_Item_rv_0">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="t:System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElement" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="name_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="get_Item_rv_1">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="t:System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElement" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_Item">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="index_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="value_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElement" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="name_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="value_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.Authentication.ExtendedProtection.Configuration.ServiceNameElement" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
</xs:schema>