Deployment/Schemas/System.IO.Ports.xsd

<?xml version="1.0"?>
<xs:schema xmlns:u="http://www.siemens.com/med/ubta.Schema" xmlns:t="http://www.siemens.com/med/System.IO.Ports" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siemens.com/med/System.IO.Ports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ubta.Schema.xsd" namespace="http://www.siemens.com/med/ubta.Schema" />
  <xs:element name="System.IO.Ports.SerialError" type="t:System.IO.Ports.SerialError" />
  <xs:simpleType name="System.IO.Ports.SerialError">
    <xs:restriction base="u:System.String" />
  </xs:simpleType>
  <xs:element name="System.IO.Ports.SerialData" type="t:System.IO.Ports.SerialData" />
  <xs:simpleType name="System.IO.Ports.SerialData">
    <xs:restriction base="u:System.String" />
  </xs:simpleType>
  <xs:element name="System.IO.Ports.SerialErrorReceivedEventHandler" type="t:System.IO.Ports.SerialErrorReceivedEventHandler" />
  <xs:complexType name="System.IO.Ports.SerialErrorReceivedEventHandler">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Invoke" type="t:System.IO.Ports.SerialErrorReceivedEventHandler.Invoke" />
      <xs:element name="Constructor" type="t:System.IO.Ports.SerialErrorReceivedEventHandler.Constructor" />
      <xs:element name="BeginInvoke" type="t:System.IO.Ports.SerialErrorReceivedEventHandler.BeginInvoke" />
      <xs:element name="EndInvoke" type="t:System.IO.Ports.SerialErrorReceivedEventHandler.EndInvoke" />
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialErrorReceivedEventHandler.Invoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IO.Ports.SerialErrorReceivedEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialErrorReceivedEventHandler.Constructor">
    <xs:sequence>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="method">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IntPtr" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialErrorReceivedEventHandler.BeginInvoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IO.Ports.SerialErrorReceivedEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="callback">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.AsyncCallback" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BeginInvoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed=":System.IAsyncResult" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialErrorReceivedEventHandler.EndInvoke">
    <xs:sequence>
      <xs:element name="result">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IAsyncResult" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="System.IO.Ports.SerialPinChange" type="t:System.IO.Ports.SerialPinChange" />
  <xs:simpleType name="System.IO.Ports.SerialPinChange">
    <xs:restriction base="u:System.String" />
  </xs:simpleType>
  <xs:element name="System.IO.Ports.SerialPort" type="t:System.IO.Ports.SerialPort" />
  <xs:complexType name="System.IO.Ports.SerialPort">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_BreakState">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_BreakState_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReadByte">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="ReadByte_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_DataBits">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_DataBits_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Handshake">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Handshake_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.IO.Ports.Handshake" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="DiscardOutBuffer">
        <xs:complexType />
      </xs:element>
      <xs:element name="set_ParityReplace">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Byte" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_DiscardNull">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_DiscardNull_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_WriteTimeout">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_WriteTimeout_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_WriteTimeout">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_Handshake">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IO.Ports.Handshake" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="t:System.IO.Ports.Handshake" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_PortName">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_PortName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_Encoding">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Text.Encoding" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReadChar">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="ReadChar_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Close">
        <xs:complexType />
      </xs:element>
      <xs:element name="Open">
        <xs:complexType />
      </xs:element>
      <xs:element name="Read">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="buffer_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.Byte" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="offset_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="count_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Read_rv_0">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="buffer_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.Char" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="offset_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="count_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Read_rv_1">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_DataBits">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_DiscardNull">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="remove_DataReceived">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IO.Ports.SerialDataReceivedEventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="remove_PinChanged">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IO.Ports.SerialPinChangedEventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_DsrHolding">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_DsrHolding_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_ReadBufferSize">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="add_PinChanged">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IO.Ports.SerialPinChangedEventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_CDHolding">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_CDHolding_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="WriteLine">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="text">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_CtsHolding">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_CtsHolding_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_BaudRate">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_BaudRate_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_NewLine">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_BaudRate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_PortName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_ParityReplace">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_ParityReplace_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.Byte" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_DtrEnable">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_DtrEnable_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_ReceivedBytesThreshold">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_ReceivedBytesThreshold_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_BaseStream">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_BaseStream_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.IO.Stream" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_RtsEnable">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_RtsEnable_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_NewLine">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_NewLine_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Encoding">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Encoding_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.Text.Encoding" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_ReadTimeout">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_RtsEnable">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_BytesToWrite">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_BytesToWrite_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_ReadTimeout">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_ReadTimeout_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="add_ErrorReceived">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IO.Ports.SerialErrorReceivedEventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReadLine">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="ReadLine_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="DiscardInBuffer">
        <xs:complexType />
      </xs:element>
      <xs:element name="get_WriteBufferSize">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_WriteBufferSize_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_DtrEnable">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetPortNames">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="GetPortNames_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.String[]" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_BytesToRead">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_BytesToRead_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Write">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="text_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="buffer_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.Char" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="offset_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="count_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="buffer_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.Byte" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="offset_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="count_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Parity">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Parity_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.IO.Ports.Parity" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_Parity">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IO.Ports.Parity" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="t:System.IO.Ports.Parity" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_ReadBufferSize">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_ReadBufferSize_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_StopBits">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_StopBits_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.IO.Ports.StopBits" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReadTo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ReadTo_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="container_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.IContainer" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence />
            <xs:sequence>
              <xs:element name="portName_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="portName_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="baudRate_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="portName_4">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="baudRate_4">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="parity_4">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.IO.Ports.Parity" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="t:System.IO.Ports.Parity" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="portName_5">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="baudRate_5">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="parity_5">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.IO.Ports.Parity" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="t:System.IO.Ports.Parity" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="dataBits_5">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="portName_6">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="baudRate_6">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="parity_6">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.IO.Ports.Parity" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="t:System.IO.Ports.Parity" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="dataBits_6">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="stopBits_6">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.IO.Ports.StopBits" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="t:System.IO.Ports.StopBits" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReadExisting">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="ReadExisting_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="remove_ErrorReceived">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IO.Ports.SerialErrorReceivedEventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="add_DataReceived">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IO.Ports.SerialDataReceivedEventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_BreakState">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_IsOpen">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_IsOpen_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_ReceivedBytesThreshold">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_WriteBufferSize">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_StopBits">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IO.Ports.StopBits" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="t:System.IO.Ports.StopBits" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InfiniteTimeout" type="u:System.Int32" />
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.IO.Ports.SerialErrorReceivedEventArgs" type="t:System.IO.Ports.SerialErrorReceivedEventArgs" />
  <xs:complexType name="System.IO.Ports.SerialErrorReceivedEventArgs">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_EventType">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_EventType_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.IO.Ports.SerialError" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.IO.Ports.Parity" type="t:System.IO.Ports.Parity" />
  <xs:simpleType name="System.IO.Ports.Parity">
    <xs:restriction base="u:System.String" />
  </xs:simpleType>
  <xs:element name="System.IO.Ports.SerialPinChangedEventArgs" type="t:System.IO.Ports.SerialPinChangedEventArgs" />
  <xs:complexType name="System.IO.Ports.SerialPinChangedEventArgs">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_EventType">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_EventType_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.IO.Ports.SerialPinChange" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.IO.Ports.Handshake" type="t:System.IO.Ports.Handshake" />
  <xs:simpleType name="System.IO.Ports.Handshake">
    <xs:restriction base="u:System.String" />
  </xs:simpleType>
  <xs:element name="System.IO.Ports.StopBits" type="t:System.IO.Ports.StopBits" />
  <xs:simpleType name="System.IO.Ports.StopBits">
    <xs:restriction base="u:System.String" />
  </xs:simpleType>
  <xs:element name="System.IO.Ports.SerialDataReceivedEventArgs" type="t:System.IO.Ports.SerialDataReceivedEventArgs" />
  <xs:complexType name="System.IO.Ports.SerialDataReceivedEventArgs">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_EventType">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_EventType_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.IO.Ports.SerialData" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.IO.Ports.SerialPinChangedEventHandler" type="t:System.IO.Ports.SerialPinChangedEventHandler" />
  <xs:complexType name="System.IO.Ports.SerialPinChangedEventHandler">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Invoke" type="t:System.IO.Ports.SerialPinChangedEventHandler.Invoke" />
      <xs:element name="Constructor" type="t:System.IO.Ports.SerialPinChangedEventHandler.Constructor" />
      <xs:element name="BeginInvoke" type="t:System.IO.Ports.SerialPinChangedEventHandler.BeginInvoke" />
      <xs:element name="EndInvoke" type="t:System.IO.Ports.SerialPinChangedEventHandler.EndInvoke" />
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialPinChangedEventHandler.Invoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IO.Ports.SerialPinChangedEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialPinChangedEventHandler.Constructor">
    <xs:sequence>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="method">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IntPtr" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialPinChangedEventHandler.BeginInvoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IO.Ports.SerialPinChangedEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="callback">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.AsyncCallback" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BeginInvoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed=":System.IAsyncResult" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialPinChangedEventHandler.EndInvoke">
    <xs:sequence>
      <xs:element name="result">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IAsyncResult" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="System.IO.Ports.SerialDataReceivedEventHandler" type="t:System.IO.Ports.SerialDataReceivedEventHandler" />
  <xs:complexType name="System.IO.Ports.SerialDataReceivedEventHandler">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Invoke" type="t:System.IO.Ports.SerialDataReceivedEventHandler.Invoke" />
      <xs:element name="Constructor" type="t:System.IO.Ports.SerialDataReceivedEventHandler.Constructor" />
      <xs:element name="BeginInvoke" type="t:System.IO.Ports.SerialDataReceivedEventHandler.BeginInvoke" />
      <xs:element name="EndInvoke" type="t:System.IO.Ports.SerialDataReceivedEventHandler.EndInvoke" />
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialDataReceivedEventHandler.Invoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IO.Ports.SerialDataReceivedEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialDataReceivedEventHandler.Constructor">
    <xs:sequence>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="method">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IntPtr" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialDataReceivedEventHandler.BeginInvoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IO.Ports.SerialDataReceivedEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="callback">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.AsyncCallback" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BeginInvoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed=":System.IAsyncResult" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.IO.Ports.SerialDataReceivedEventHandler.EndInvoke">
    <xs:sequence>
      <xs:element name="result">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IAsyncResult" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>