Deployment/Schemas/System.ComponentModel.Design.Serialization.xsd

<?xml version="1.0"?>
<xs:schema xmlns:u="http://www.siemens.com/med/ubta.Schema" xmlns:t="http://www.siemens.com/med/System.ComponentModel.Design.Serialization" xmlns:q2="http://www.siemens.com/med/System.ComponentModel" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siemens.com/med/System.ComponentModel.Design.Serialization" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="System.ComponentModel.xsd" namespace="http://www.siemens.com/med/System.ComponentModel" />
  <xs:import schemaLocation="System.ComponentModel.xsd" namespace="http://www.siemens.com/med/System.ComponentModel" />
  <xs:import schemaLocation="ubta.Schema.xsd" namespace="http://www.siemens.com/med/ubta.Schema" />
  <xs:element name="System.ComponentModel.Design.Serialization.IDesignerLoaderService" type="t:System.ComponentModel.Design.Serialization.IDesignerLoaderService" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.IDesignerLoaderService">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Reload">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="Reload_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="DependentLoadComplete">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="successful">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="errorCollection">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Collections.ICollection" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AddLoadDependency">
        <xs:complexType />
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.MemberRelationshipService" type="t:System.ComponentModel.Design.Serialization.MemberRelationshipService" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.MemberRelationshipService">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="set_Item">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="source_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.Design.Serialization.MemberRelationship" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="value_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.Design.Serialization.MemberRelationship" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="sourceOwner_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="sourceMember_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.MemberDescriptor" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="value_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.Design.Serialization.MemberRelationship" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="SupportsRelationship">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="source">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.MemberRelationship" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="relationship">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.MemberRelationship" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="SupportsRelationship_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Item">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="source_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.Design.Serialization.MemberRelationship" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="get_Item_rv_0">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="t:System.ComponentModel.Design.Serialization.MemberRelationship" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="sourceOwner_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="sourceMember_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.MemberDescriptor" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="get_Item_rv_1">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="t:System.ComponentModel.Design.Serialization.MemberRelationship" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.SerializationStore" type="t:System.ComponentModel.Design.Serialization.SerializationStore" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.SerializationStore">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Save">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="stream">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IO.Stream" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Close">
        <xs:complexType />
      </xs:element>
      <xs:element name="get_Errors">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Errors_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.Collections.ICollection" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.DefaultSerializationProviderAttribute" type="t:System.ComponentModel.Design.Serialization.DefaultSerializationProviderAttribute" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.DefaultSerializationProviderAttribute">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_ProviderTypeName">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_ProviderTypeName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="providerType_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Type" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="providerTypeName_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.DesignerSerializerAttribute" type="t:System.ComponentModel.Design.Serialization.DesignerSerializerAttribute" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.DesignerSerializerAttribute">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_SerializerTypeName">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_SerializerTypeName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_SerializerBaseTypeName">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_SerializerBaseTypeName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="serializerType_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Type" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="baseSerializerType_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Type" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="serializerTypeName_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="baseSerializerType_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Type" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="serializerTypeName_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="baseSerializerTypeName_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.ResolveNameEventHandler" type="t:System.ComponentModel.Design.Serialization.ResolveNameEventHandler" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.ResolveNameEventHandler">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Invoke" type="t:System.ComponentModel.Design.Serialization.ResolveNameEventHandler.Invoke" />
      <xs:element name="Constructor" type="t:System.ComponentModel.Design.Serialization.ResolveNameEventHandler.Constructor" />
      <xs:element name="BeginInvoke" type="t:System.ComponentModel.Design.Serialization.ResolveNameEventHandler.BeginInvoke" />
      <xs:element name="EndInvoke" type="t:System.ComponentModel.Design.Serialization.ResolveNameEventHandler.EndInvoke" />
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:complexType name="System.ComponentModel.Design.Serialization.ResolveNameEventHandler.Invoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.ComponentModel.Design.Serialization.ResolveNameEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.ComponentModel.Design.Serialization.ResolveNameEventHandler.Constructor">
    <xs:sequence>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="method">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IntPtr" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.ComponentModel.Design.Serialization.ResolveNameEventHandler.BeginInvoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.ComponentModel.Design.Serialization.ResolveNameEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="callback">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.AsyncCallback" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BeginInvoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed=":System.IAsyncResult" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.ComponentModel.Design.Serialization.ResolveNameEventHandler.EndInvoke">
    <xs:sequence>
      <xs:element name="result">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IAsyncResult" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.RootDesignerSerializerAttribute" type="t:System.ComponentModel.Design.Serialization.RootDesignerSerializerAttribute" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.RootDesignerSerializerAttribute">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_SerializerTypeName">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_SerializerTypeName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_SerializerBaseTypeName">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_SerializerBaseTypeName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="serializerTypeName_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="baseSerializerTypeName_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="reloadable_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="serializerType_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Type" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="baseSerializerType_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Type" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="reloadable_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="serializerTypeName_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="baseSerializerType_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Type" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="reloadable_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Reloadable">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Reloadable_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.IDesignerLoaderHost" type="t:System.ComponentModel.Design.Serialization.IDesignerLoaderHost" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.IDesignerLoaderHost">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="EndLoad">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="baseClassName">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="successful">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="errorCollection">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Collections.ICollection" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Reload">
        <xs:complexType />
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.IDesignerSerializationService" type="t:System.ComponentModel.Design.Serialization.IDesignerSerializationService" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.IDesignerSerializationService">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Deserialize">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="serializationData">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Deserialize_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.Collections.ICollection" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Serialize">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="objects">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Collections.ICollection" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Serialize_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.ContextStack" type="t:System.ComponentModel.Design.Serialization.ContextStack" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.ContextStack">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Push">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="context">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType />
      </xs:element>
      <xs:element name="get_Current">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Current_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Append">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="context">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Pop">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="Pop_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Item">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="level_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="get_Item_rv_0">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="type_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Type" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="get_Item_rv_1">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.IDesignerSerializationManager" type="t:System.ComponentModel.Design.Serialization.IDesignerSerializationManager" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.IDesignerSerializationManager">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="SetName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="instance">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="name">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetInstance">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="GetInstance_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="add_SerializationComplete">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.EventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="add_ResolveName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.ResolveNameEventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveSerializationProvider">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="provider">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.IDesignerSerializationProvider" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateInstance">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Type" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="arguments">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Collections.ICollection" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="name">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="addToContainer">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="CreateInstance_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Properties">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Properties_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.ComponentModel.PropertyDescriptorCollection" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetSerializer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="objectType">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Type" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="serializerType">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Type" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="GetSerializer_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="GetName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReportError">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="errorInformation">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AddSerializationProvider">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="provider">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.IDesignerSerializationProvider" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="remove_ResolveName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.ResolveNameEventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="remove_SerializationComplete">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.EventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="typeName">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="GetType_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Type" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Context">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Context_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.ComponentModel.Design.Serialization.ContextStack" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:annotation>
    <xs:appinfo>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\system.dll</xs:appinfo>
  </xs:annotation>
  <xs:element name="System.ComponentModel.Design.Serialization.ResolveNameEventArgs" type="t:System.ComponentModel.Design.Serialization.ResolveNameEventArgs" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.ResolveNameEventArgs">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="set_Value">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Name">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Name_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Value">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Value_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.IDesignerSerializationProvider" type="t:System.ComponentModel.Design.Serialization.IDesignerSerializationProvider" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.IDesignerSerializationProvider">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="GetSerializer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="manager">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.IDesignerSerializationManager" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="currentSerializer">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="objectType">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Type" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="serializerType">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Type" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="GetSerializer_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.MemberRelationship" type="t:System.ComponentModel.Design.Serialization.MemberRelationship" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.MemberRelationship">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="op_Inequality">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="left">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.MemberRelationship" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="right">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.MemberRelationship" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="op_Inequality_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_IsEmpty">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_IsEmpty_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Owner">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Owner_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="owner">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="member">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.MemberDescriptor" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="op_Equality">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="left">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.MemberRelationship" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="right">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.MemberRelationship" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="op_Equality_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Member">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Member_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.ComponentModel.MemberDescriptor" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:annotation>
    <xs:appinfo>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\system.dll</xs:appinfo>
  </xs:annotation>
  <xs:element name="System.ComponentModel.Design.Serialization.INameCreationService" type="t:System.ComponentModel.Design.Serialization.INameCreationService" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.INameCreationService">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="CreateName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="container">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.IContainer" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="dataType">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Type" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="CreateName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ValidateName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsValidName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="IsValidName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.InstanceDescriptor" type="t:System.ComponentModel.Design.Serialization.InstanceDescriptor" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.InstanceDescriptor">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_Arguments">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Arguments_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.Collections.ICollection" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Invoke">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="Invoke_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_MemberInfo">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_MemberInfo_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.Reflection.MemberInfo" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="member_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Reflection.MemberInfo" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="arguments_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Collections.ICollection" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="isComplete_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="member_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Reflection.MemberInfo" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="arguments_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Collections.ICollection" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_IsComplete">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_IsComplete_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.DesignerLoader" type="t:System.ComponentModel.Design.Serialization.DesignerLoader" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.DesignerLoader">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Dispose">
        <xs:complexType />
      </xs:element>
      <xs:element name="BeginLoad">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="host">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.IDesignerLoaderHost" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Loading">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Loading_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Flush">
        <xs:complexType />
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.ComponentSerializationService" type="t:System.ComponentModel.Design.Serialization.ComponentSerializationService" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.ComponentSerializationService">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="CreateStore">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="CreateStore_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.ComponentModel.Design.Serialization.SerializationStore" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeserializeTo">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="store_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.Design.Serialization.SerializationStore" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="container_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.IContainer" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="validateRecycledTypes_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="applyDefaults_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="store_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.Design.Serialization.SerializationStore" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="container_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.IContainer" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="store_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.Design.Serialization.SerializationStore" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="container_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.IContainer" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="validateRecycledTypes_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Serialize">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="store">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.SerializationStore" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Deserialize">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="store_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.Design.Serialization.SerializationStore" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Deserialize_rv_0">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed=":System.Collections.ICollection" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="store_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.Design.Serialization.SerializationStore" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="container_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.ComponentModel.IContainer" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Deserialize_rv_1">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed=":System.Collections.ICollection" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="SerializeAbsolute">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="store">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.SerializationStore" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SerializeMemberAbsolute">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="store">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.SerializationStore" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="owningObject">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="member">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.MemberDescriptor" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SerializeMember">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="store">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.Design.Serialization.SerializationStore" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="owningObject">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="member">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.MemberDescriptor" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LoadStore">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="stream">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IO.Stream" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="LoadStore_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.ComponentModel.Design.Serialization.SerializationStore" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.ComponentModel.Design.Serialization.IDesignerLoaderHost2" type="t:System.ComponentModel.Design.Serialization.IDesignerLoaderHost2" />
  <xs:complexType name="System.ComponentModel.Design.Serialization.IDesignerLoaderHost2">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_IgnoreErrorsDuringReload">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_IgnoreErrorsDuringReload_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_IgnoreErrorsDuringReload">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_CanReloadWithErrors">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_CanReloadWithErrors_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_CanReloadWithErrors">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
</xs:schema>