Deployment/Schemas/System.Timers.xsd

<?xml version="1.0"?>
<xs:schema xmlns:u="http://www.siemens.com/med/ubta.Schema" xmlns:t="http://www.siemens.com/med/System.Timers" xmlns:q2="http://www.siemens.com/med/System.ComponentModel" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siemens.com/med/System.Timers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="System.ComponentModel.xsd" namespace="http://www.siemens.com/med/System.ComponentModel" />
  <xs:import schemaLocation="ubta.Schema.xsd" namespace="http://www.siemens.com/med/ubta.Schema" />
  <xs:element name="System.Timers.TimersDescriptionAttribute" type="t:System.Timers.TimersDescriptionAttribute" />
  <xs:complexType name="System.Timers.TimersDescriptionAttribute">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="description">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Timers.ElapsedEventArgs" type="t:System.Timers.ElapsedEventArgs" />
  <xs:complexType name="System.Timers.ElapsedEventArgs">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_SignalTime">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_SignalTime_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.DateTime" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Timers.Timer" type="t:System.Timers.Timer" />
  <xs:complexType name="System.Timers.Timer">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_SynchronizingObject">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_SynchronizingObject_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.ComponentModel.ISynchronizeInvoke" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="interval_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Double" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Double" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="add_Elapsed">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Timers.ElapsedEventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Start">
        <xs:complexType />
      </xs:element>
      <xs:element name="remove_Elapsed">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Timers.ElapsedEventHandler" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Enabled">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Enabled_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_Enabled">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Interval">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Interval_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Double" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Stop">
        <xs:complexType />
      </xs:element>
      <xs:element name="set_SynchronizingObject">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.ComponentModel.ISynchronizeInvoke" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_AutoReset">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_AutoReset_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_AutoReset">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Close">
        <xs:complexType />
      </xs:element>
      <xs:element name="set_Interval">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Double" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Double" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:annotation>
    <xs:appinfo>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\system.dll</xs:appinfo>
  </xs:annotation>
  <xs:element name="System.Timers.ElapsedEventHandler" type="t:System.Timers.ElapsedEventHandler" />
  <xs:complexType name="System.Timers.ElapsedEventHandler">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Invoke" type="t:System.Timers.ElapsedEventHandler.Invoke" />
      <xs:element name="Constructor" type="t:System.Timers.ElapsedEventHandler.Constructor" />
      <xs:element name="BeginInvoke" type="t:System.Timers.ElapsedEventHandler.BeginInvoke" />
      <xs:element name="EndInvoke" type="t:System.Timers.ElapsedEventHandler.EndInvoke" />
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:complexType name="System.Timers.ElapsedEventHandler.Invoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Timers.ElapsedEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.Timers.ElapsedEventHandler.Constructor">
    <xs:sequence>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="method">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IntPtr" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.Timers.ElapsedEventHandler.BeginInvoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Timers.ElapsedEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="callback">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.AsyncCallback" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BeginInvoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed=":System.IAsyncResult" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.Timers.ElapsedEventHandler.EndInvoke">
    <xs:sequence>
      <xs:element name="result">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IAsyncResult" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>