Deployment/Schemas/System.Threading.xsd

<?xml version="1.0"?>
<xs:schema xmlns:u="http://www.siemens.com/med/ubta.Schema" xmlns:t="http://www.siemens.com/med/System.Threading" xmlns:q7="http://www.siemens.com/med/System.Security.AccessControl" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siemens.com/med/System.Threading" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="System.Security.AccessControl.xsd" namespace="http://www.siemens.com/med/System.Security.AccessControl" />
  <xs:import schemaLocation="System.Security.AccessControl.xsd" namespace="http://www.siemens.com/med/System.Security.AccessControl" />
  <xs:import schemaLocation="System.Security.AccessControl.xsd" namespace="http://www.siemens.com/med/System.Security.AccessControl" />
  <xs:import schemaLocation="ubta.Schema.xsd" namespace="http://www.siemens.com/med/ubta.Schema" />
  <xs:element name="System.Threading.Semaphore" type="t:System.Threading.Semaphore" />
  <xs:complexType name="System.Threading.Semaphore">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="OpenExisting">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="name_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="OpenExisting_rv_0">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="t:System.Threading.Semaphore" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="name_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="rights_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.AccessControl.SemaphoreRights" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="q7:System.Security.AccessControl.SemaphoreRights" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="OpenExisting_rv_1">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="t:System.Threading.Semaphore" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="initialCount_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="maximumCount_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="initialCount_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="maximumCount_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="name_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="initialCount_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="maximumCount_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="name_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="createdNew_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.Boolean" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="Out" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="initialCount_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="maximumCount_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="name_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="createdNew_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.Boolean" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="Out" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="semaphoreSecurity_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.AccessControl.SemaphoreSecurity" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Release">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element minOccurs="0" name="Release_rv_0">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="releaseCount_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Release_rv_1">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="SetAccessControl">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="semaphoreSecurity">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.AccessControl.SemaphoreSecurity" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAccessControl">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="GetAccessControl_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.AccessControl.SemaphoreSecurity" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="TryOpenExisting">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="name_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="result_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.Threading.Semaphore" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="Out" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="TryOpenExisting_rv_0">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="name_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="rights_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.AccessControl.SemaphoreRights" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="q7:System.Security.AccessControl.SemaphoreRights" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="result_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.Threading.Semaphore" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="Out" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="TryOpenExisting_rv_1">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:annotation>
    <xs:appinfo>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\system.dll</xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:appinfo>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\system.dll</xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:appinfo>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\system.dll</xs:appinfo>
  </xs:annotation>
  <xs:element name="System.Threading.ThreadExceptionEventArgs" type="t:System.Threading.ThreadExceptionEventArgs" />
  <xs:complexType name="System.Threading.ThreadExceptionEventArgs">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_Exception">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Exception_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.Exception" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="t">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Exception" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Threading.BarrierPostPhaseException" type="t:System.Threading.BarrierPostPhaseException" />
  <xs:complexType name="System.Threading.BarrierPostPhaseException">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="innerException_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Exception" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="message_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="message_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="innerException_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Exception" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Threading.ThreadExceptionEventHandler" type="t:System.Threading.ThreadExceptionEventHandler" />
  <xs:complexType name="System.Threading.ThreadExceptionEventHandler">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Invoke" type="t:System.Threading.ThreadExceptionEventHandler.Invoke" />
      <xs:element name="Constructor" type="t:System.Threading.ThreadExceptionEventHandler.Constructor" />
      <xs:element name="BeginInvoke" type="t:System.Threading.ThreadExceptionEventHandler.BeginInvoke" />
      <xs:element name="EndInvoke" type="t:System.Threading.ThreadExceptionEventHandler.EndInvoke" />
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:complexType name="System.Threading.ThreadExceptionEventHandler.Invoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Threading.ThreadExceptionEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.Threading.ThreadExceptionEventHandler.Constructor">
    <xs:sequence>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="method">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IntPtr" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.Threading.ThreadExceptionEventHandler.BeginInvoke">
    <xs:sequence>
      <xs:element name="sender">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="e">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Threading.ThreadExceptionEventArgs" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="callback">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.AsyncCallback" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BeginInvoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed=":System.IAsyncResult" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="System.Threading.ThreadExceptionEventHandler.EndInvoke">
    <xs:sequence>
      <xs:element name="result">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IAsyncResult" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="System.Threading.Barrier" type="t:System.Threading.Barrier" />
  <xs:complexType name="System.Threading.Barrier">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="AddParticipant">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="AddParticipant_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int64" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_CurrentPhaseNumber">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_CurrentPhaseNumber_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int64" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_ParticipantsRemaining">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_ParticipantsRemaining_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="AddParticipants">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="participantCount">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AddParticipants_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int64" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_ParticipantCount">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_ParticipantCount_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveParticipant">
        <xs:complexType />
      </xs:element>
      <xs:element name="SignalAndWait">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="cancellationToken_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Threading.CancellationToken" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="timeout_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.TimeSpan" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="SignalAndWait_rv_2">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="timeout_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.TimeSpan" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="cancellationToken_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Threading.CancellationToken" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="SignalAndWait_rv_3">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="millisecondsTimeout_4">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="SignalAndWait_rv_4">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="millisecondsTimeout_5">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="cancellationToken_5">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Threading.CancellationToken" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="SignalAndWait_rv_5">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveParticipants">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="participantCount">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="participantCount_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="participantCount_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="postPhaseAction_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Action" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
</xs:schema>