Deployment/Schemas/System.Collections.Generic.xsd

<?xml version="1.0"?>
<xs:schema xmlns:u="http://www.siemens.com/med/ubta.Schema" xmlns:t="http://www.siemens.com/med/System.Collections.Generic" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siemens.com/med/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ubta.Schema.xsd" namespace="http://www.siemens.com/med/ubta.Schema" />
  <xs:element name="System.Collections.Generic.LinkedListNode" type="t:System.Collections.Generic.LinkedListNode" />
  <xs:complexType name="System.Collections.Generic.LinkedListNode">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_Next">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_Next_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Collections.Generic.LinkedListNode`1" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_Value">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="get_List">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_List_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="http://www.siemens.com/med/System.Collections.Generic:System.Collections.Generic.LinkedListNode`1" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Previous">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_Previous_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Collections.Generic.LinkedListNode`1" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Value">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_Value_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Collections.Generic.LinkedList" type="t:System.Collections.Generic.LinkedList" />
  <xs:complexType name="System.Collections.Generic.LinkedList">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_Last">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_Last_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="http://www.siemens.com/med/System.Collections.Generic:System.Collections.Generic.LinkedList`1" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="collection_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="AddAfter">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="node_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="value_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="T:object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="node_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="newNode_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="FindLast">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="FindLast_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="http://www.siemens.com/med/System.Collections.Generic:System.Collections.Generic.LinkedList`1" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Find">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Find_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="http://www.siemens.com/med/System.Collections.Generic:System.Collections.Generic.LinkedList`1" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_First">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_First_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="http://www.siemens.com/med/System.Collections.Generic:System.Collections.Generic.LinkedList`1" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveFirst">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="AddFirst">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="value_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="T:object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="node_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="AddLast">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="value_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="T:object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="node_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveLast">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="Remove">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="AddBefore">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="node_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="value_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="T:object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="node_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="newNode_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Collections.Generic.SortedSet" type="t:System.Collections.Generic.SortedSet" />
  <xs:complexType name="System.Collections.Generic.SortedSet">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_Comparer">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_Comparer_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="http://www.siemens.com/med/System.Collections.Generic:System.Collections.Generic.SortedSet`1" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Min">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_Min_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Max">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_Max_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveWhere">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="RemoveWhere_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="collection_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="collection_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="comparer_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="comparer_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="CopyTo">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="array_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="::object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="array_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="::object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="index_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="count_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateSetComparer">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="memberEqualityComparer_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetViewBetween">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetViewBetween_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Collections.Generic.SortedSet`1" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Reverse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Reverse_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="http://www.siemens.com/med/System.Collections.Generic:System.Collections.Generic.SortedSet`1" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Collections.Generic.ISet" type="t:System.Collections.Generic.ISet" />
  <xs:complexType name="System.Collections.Generic.ISet">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="SymmetricExceptWith">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="IsSubsetOf">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="IsSubsetOf_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Overlaps">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Overlaps_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsProperSubsetOf">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="IsProperSubsetOf_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsProperSupersetOf">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="IsProperSupersetOf_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsSupersetOf">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="IsSupersetOf_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IntersectWith">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="SetEquals">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SetEquals_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UnionWith">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="ExceptWith">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Collections.Generic.SortedList" type="t:System.Collections.Generic.SortedList" />
  <xs:complexType name="System.Collections.Generic.SortedList">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="IndexOfKey">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="IndexOfKey_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IndexOfValue">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="IndexOfValue_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Comparer">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_Comparer_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="http://www.siemens.com/med/System.Collections.Generic:System.Collections.Generic.SortedList`2" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveAt">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="capacity_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="comparer_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="capacity_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="comparer_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="dictionary_4">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=", :System.Object:System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="dictionary_5">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=", :System.Object:System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="comparer_5">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="TrimExcess">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="ContainsValue">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ContainsValue_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Capacity">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_Capacity_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_Capacity">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Collections.Generic.Stack" type="t:System.Collections.Generic.Stack" />
  <xs:complexType name="System.Collections.Generic.Stack">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Contains">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Contains_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Push">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="ToArray">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ToArray_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TrimExcess">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="capacity_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="collection_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Pop">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Pop_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Peek">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Peek_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Clear">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Collections.Generic.Queue" type="t:System.Collections.Generic.Queue" />
  <xs:complexType name="System.Collections.Generic.Queue">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Contains">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Contains_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Enqueue">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="ToArray">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ToArray_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Dequeue">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Dequeue_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TrimExcess">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="capacity_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="collection_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Peek">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Peek_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Object" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Clear">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Collections.Generic.SortedDictionary" type="t:System.Collections.Generic.SortedDictionary" />
  <xs:complexType name="System.Collections.Generic.SortedDictionary">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_Comparer">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="get_Comparer_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="http://www.siemens.com/med/System.Collections.Generic:System.Collections.Generic.SortedDictionary`2" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="comparer_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="dictionary_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=", :System.Object:System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="dictionary_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=", :System.Object:System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="comparer_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="ContainsValue">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ContainsValue_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
</xs:schema>