Deployment/Schemas/System.Security.Cryptography.xsd

<?xml version="1.0"?>
<xs:schema xmlns:u="http://www.usecasetests.com/ubta.Schema" xmlns:t="http://www.usecasetests.com/System.Security.Cryptography" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.usecasetests.com/System.Security.Cryptography" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ubta.Schema.xsd" namespace="http://www.usecasetests.com/ubta.Schema" />
  <xs:element name="System.Security.Cryptography.Oid" type="t:System.Security.Cryptography.Oid" />
  <xs:complexType name="System.Security.Cryptography.Oid">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="set_Value">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FromOidValue">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="oidValue">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="group">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Cryptography.OidGroup" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="t:System.Security.Cryptography.OidGroup" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="FromOidValue_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Cryptography.Oid" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FromFriendlyName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="friendlyName">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="group">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Cryptography.OidGroup" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="t:System.Security.Cryptography.OidGroup" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="FromFriendlyName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Cryptography.Oid" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="oid_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="value_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="friendlyName_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="oid_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.Cryptography.Oid" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_FriendlyName">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_FriendlyName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_FriendlyName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.String" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.String" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Value">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Value_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Security.Cryptography.OidGroup" type="t:System.Security.Cryptography.OidGroup" />
  <xs:simpleType name="System.Security.Cryptography.OidGroup">
    <xs:restriction base="u:System.String" />
  </xs:simpleType>
  <xs:element name="System.Security.Cryptography.OidEnumerator" type="t:System.Security.Cryptography.OidEnumerator" />
  <xs:complexType name="System.Security.Cryptography.OidEnumerator">
    <xs:choice minOccurs="0" maxOccurs="unbounded" />
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Security.Cryptography.AsnEncodedDataCollection" type="t:System.Security.Cryptography.AsnEncodedDataCollection" />
  <xs:complexType name="System.Security.Cryptography.AsnEncodedDataCollection">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Remove">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="asnEncodedData">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Cryptography.AsnEncodedData" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Add">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="asnEncodedData">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Cryptography.AsnEncodedData" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Add_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Item">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="index">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="get_Item_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Cryptography.AsnEncodedData" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence />
            <xs:sequence>
              <xs:element name="asnEncodedData_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.Cryptography.AsnEncodedData" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Security.Cryptography.AsnEncodedDataEnumerator" type="t:System.Security.Cryptography.AsnEncodedDataEnumerator" />
  <xs:complexType name="System.Security.Cryptography.AsnEncodedDataEnumerator">
    <xs:choice minOccurs="0" maxOccurs="unbounded" />
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Security.Cryptography.OidCollection" type="t:System.Security.Cryptography.OidCollection" />
  <xs:complexType name="System.Security.Cryptography.OidCollection">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Add">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="oid">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Cryptography.Oid" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Add_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Item">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="index_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Int32" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.Int32" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="get_Item_rv_0">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="t:System.Security.Cryptography.Oid" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="oid_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="get_Item_rv_1">
                <xs:complexType>
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="t:System.Security.Cryptography.Oid" name="Type" type="u:System.String" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType />
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="System.Security.Cryptography.AsnEncodedData" type="t:System.Security.Cryptography.AsnEncodedData" />
  <xs:complexType name="System.Security.Cryptography.AsnEncodedData">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_RawData">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_RawData_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed=":System.Byte[]" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="CopyFrom">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="asnEncodedData">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Cryptography.AsnEncodedData" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_Oid">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Security.Cryptography.Oid" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_Oid">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_Oid_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:System.Security.Cryptography.Oid" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence>
              <xs:element name="rawData_0">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.Byte" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="oid_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.String" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="optional" />
                  <xs:attribute name="Value" type="u:System.String" use="optional" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="rawData_1">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.Byte" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="oid_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.Cryptography.Oid" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="rawData_2">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="_Array:System.Byte" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="asnEncodedData_3">
                <xs:complexType mixed="true">
                  <xs:attribute fixed="System.Security.Cryptography.AsnEncodedData" ref="u:ParamType" />
                  <xs:attribute name="Name" type="u:System.String" use="required" />
                  <xs:attribute fixed="In" ref="u:ParamCategory" />
                  <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_RawData">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="_Array:System.Byte" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Format">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="multiLine">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Format_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
</xs:schema>