Deployment/Schemas/ubta.Assert.xsd

<?xml version="1.0"?>
<xs:schema xmlns:u="http://www.usecasetests.com/ubta.Schema" xmlns:t="http://www.usecasetests.com/ubta.Assert" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.usecasetests.com/ubta.Assert" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ubta.Schema.xsd" namespace="http://www.usecasetests.com/ubta.Schema" />
  <xs:element name="ubta.Assert.Record" type="t:ubta.Assert.Record" />
  <xs:complexType name="ubta.Assert.Record">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Constructor">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="r">
              <xs:complexType mixed="true">
                <xs:attribute fixed="_Array:ubta.Assert.record" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="report">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="report_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="ubta.Assert.Assert" type="t:ubta.Assert.Assert" />
  <xs:complexType name="ubta.Assert.Assert">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="That">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="arg_in">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="That_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.IValueChecker" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType />
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="ubta.Assert.ThatDel" type="t:ubta.Assert.ThatDel" />
  <xs:complexType name="ubta.Assert.ThatDel">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Invoke" type="t:ubta.Assert.ThatDel.Invoke" />
      <xs:element name="Constructor" type="t:ubta.Assert.ThatDel.Constructor" />
      <xs:element name="BeginInvoke" type="t:ubta.Assert.ThatDel.BeginInvoke" />
      <xs:element name="EndInvoke" type="t:ubta.Assert.ThatDel.EndInvoke" />
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:complexType name="ubta.Assert.ThatDel.Invoke">
    <xs:sequence>
      <xs:element name="ivc">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Invoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="t:ubta.Assert.IValueChecker" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ubta.Assert.ThatDel.Constructor">
    <xs:sequence>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="method">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IntPtr" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ubta.Assert.ThatDel.BeginInvoke">
    <xs:sequence>
      <xs:element name="ivc">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="callback">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.AsyncCallback" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BeginInvoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed=":System.IAsyncResult" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ubta.Assert.ThatDel.EndInvoke">
    <xs:sequence>
      <xs:element name="result">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IAsyncResult" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="EndInvoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="t:ubta.Assert.IValueChecker" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ubta.Assert.MemberInfoGetting" type="t:ubta.Assert.MemberInfoGetting" />
  <xs:complexType name="ubta.Assert.MemberInfoGetting">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="GetMemberName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="memberExpression">
              <xs:complexType mixed="true">
                <xs:attribute fixed=":System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="GetMemberName_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="ubta.Assert.IValueChecker" type="t:ubta.Assert.IValueChecker" />
  <xs:complexType name="ubta.Assert.IValueChecker">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="AssertCondition">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="AssertCondition_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Or">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="o">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Or_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.IValueChecker" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set_DelayedEvaluation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Boolean" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="optional" />
                <xs:attribute name="Value" type="u:System.Boolean" use="optional" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsEqualTo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="IsEqualTo_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AreNotEqualTo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AreNotEqualTo_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsGreaterThan">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IComparable:System.IComparable" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="IsGreaterThan_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsNull">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="IsNull_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="AreNotNull">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="AreNotNull_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_EvaluationResult">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_EvaluationResult_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="get_DelayedEvaluation">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_DelayedEvaluation_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="AreNull">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="AreNull_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Is">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Type" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Is_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="And">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="o">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="And_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.IValueChecker" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsNotEqualTo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="IsNotEqualTo_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Nand">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="o">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Nand_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.IValueChecker" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AreEqualTo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AreEqualTo_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AreGreaterThan">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IComparable:System.IComparable" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AreGreaterThan_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Are">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Type" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Are_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsLessThan">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IComparable:System.IComparable" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="IsLessThan_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsNotNull">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="IsNotNull_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="AreLessThan">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.IComparable:System.IComparable" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AreLessThan_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.ICondition" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="ubta.Assert.TestRecorder" type="t:ubta.Assert.TestRecorder" />
  <xs:complexType name="ubta.Assert.TestRecorder">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="That">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="arg_in">
              <xs:complexType mixed="true">
                <xs:attribute fixed="System.Object" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="That_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="t:ubta.Assert.IValueChecker" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Record">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="r">
              <xs:complexType mixed="true">
                <xs:attribute fixed="_Array:ubta.Assert.record" ref="u:ParamType" />
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="In" ref="u:ParamCategory" />
                <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Record_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.String" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Constructor">
        <xs:complexType />
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:element name="ubta.Assert.record" type="t:ubta.Assert.record" />
  <xs:complexType name="ubta.Assert.record">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Invoke" type="t:ubta.Assert.record.Invoke" />
      <xs:element name="Constructor" type="t:ubta.Assert.record.Constructor" />
      <xs:element name="BeginInvoke" type="t:ubta.Assert.record.BeginInvoke" />
      <xs:element name="EndInvoke" type="t:ubta.Assert.record.EndInvoke" />
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:complexType name="ubta.Assert.record.Invoke" />
  <xs:complexType name="ubta.Assert.record.Constructor">
    <xs:sequence>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="method">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IntPtr" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ubta.Assert.record.BeginInvoke">
    <xs:sequence>
      <xs:element name="callback">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.AsyncCallback" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BeginInvoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed=":System.IAsyncResult" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ubta.Assert.record.EndInvoke">
    <xs:sequence>
      <xs:element name="result">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IAsyncResult" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ubta.Assert.ConditionDel" type="t:ubta.Assert.ConditionDel" />
  <xs:complexType name="ubta.Assert.ConditionDel">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Invoke" type="t:ubta.Assert.ConditionDel.Invoke" />
      <xs:element name="Constructor" type="t:ubta.Assert.ConditionDel.Constructor" />
      <xs:element name="BeginInvoke" type="t:ubta.Assert.ConditionDel.BeginInvoke" />
      <xs:element name="EndInvoke" type="t:ubta.Assert.ConditionDel.EndInvoke" />
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
  <xs:complexType name="ubta.Assert.ConditionDel.Invoke">
    <xs:choice>
      <xs:element minOccurs="0" name="Invoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ubta.Assert.ConditionDel.Constructor">
    <xs:sequence>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="method">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IntPtr" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ubta.Assert.ConditionDel.BeginInvoke">
    <xs:sequence>
      <xs:element name="callback">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.AsyncCallback" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.Object" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BeginInvoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed=":System.IAsyncResult" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ubta.Assert.ConditionDel.EndInvoke">
    <xs:sequence>
      <xs:element name="result">
        <xs:complexType mixed="true">
          <xs:attribute fixed="System.IAsyncResult" ref="u:ParamType" />
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="In" ref="u:ParamCategory" />
          <xs:attribute default="ByValue" ref="u:ParamValueType" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="EndInvoke_rv">
        <xs:complexType>
          <xs:attribute name="Name" type="u:System.String" use="required" />
          <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ubta.Assert.ICondition" type="t:ubta.Assert.ICondition" />
  <xs:complexType name="ubta.Assert.ICondition">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="get_recursion">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="get_recursion_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Int32" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Evaluate">
        <xs:complexType>
          <xs:choice>
            <xs:element minOccurs="0" name="Evaluate_rv">
              <xs:complexType>
                <xs:attribute name="Name" type="u:System.String" use="required" />
                <xs:attribute fixed="u:System.Boolean" name="Type" type="u:System.String" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="u:System.String" use="required" />
  </xs:complexType>
</xs:schema>